body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  .container {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;

    label {
      display: inline-block;
      font-size: 12px;
      margin-bottom: 10px;
    }

    input {
      border-radius: 100px;
      border: 1px solid #CCC;
      box-sizing: border-box;
      margin-bottom: 30px;
      outline: none;
      padding: 14px 24px;
      width: 100%;

      &.button {
        background: #f46152;
        border: none;
        border: none;
        color: white;
        height: 48px;
        margin-bottom: 0;
      }
    }

    .error {
      input {
        border: 1px solid red;
      }
    }
  }
}

.form-group {
  position: relative;

  &.error {
    span {
      display: block;
    }
  }

  span {
    bottom: 10px;
    color: red;
    display: none;
    font-size: 12px;
    left: 0;
    position: absolute;
  }
}